<ul class="list-group-flush px-0 vh-100 overflow-auto position-sticky" id="recipe-list">
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Mushrooms</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Apple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Banana</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Coconut</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Ananas</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Blackberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Watermelon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Mango</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Orange</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Grape</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Hamburger</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Pasta</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Salad</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Sausage</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Chicken</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Kebab</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Chocolate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Seafood</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Sushi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="@Url.Action("Index", "Recipe")">Ice cream</a>
    </li>
</ul>